p {
	color: navy;
}

p.info {
	font-size: 10pt;
}

h1 {
	/*background-color: #7f7fc*/
	text-shadow:
    1px 1px 2px black,
    0 0 1em blue,
    0 0 0.2em blue;
  color: white;
  font:
    1.5em "Georgia",
    serif;
}

/*h2 {
	border: solid 1px black;
	margin: 5px;
}*/

div#zentai {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	grid-auto-rows: 200px 200px
}

div#zentai > div {
	padding-left: 5px;
	background-color: #ffefaf;
}
.info{
	font-size: small
}
.info{
	background-color: #dfdfdf;
}
img.pic{
	float: right;
}
div#zentai{
	font-family: cursive;
	color: #3f3faf;
}
h2 {
	background: linear-gradient( to right, white, #ffefaf);
}